button span.navbar-toggler-icon {
    color: #fff;
}

.remove-padding {
    padding: 0;
}

.css-box-shadow {
	/*start ------------*/
	width: [object Object]px;
	height: [object Object]px;
	background: #F8F8F8;
	border: solid #BDBDBD 0;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

/* Text alignment for body */
body {
    text-align: center;
}

.modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.modal-dialog {
    display: inline-block;
    vertical-align: middle;
    /* --bs-modal-margin: auto; */
}

.modal .modal-content {
    --bs-modal-bg: #eceeef;
    padding: 2rem;
}

h5.modal-title {
    margin: auto;
    margin-right: 45.125px;
}

div.modal-header button.btn-close {
    margin-left: 0px;
    padding-left: 0px;
}

.modalFormWrapper {
    padding: 2rem;
    text-align: left;
}

.responsive-iframe {
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 560px;
    height: 315px;
}

.yuriHeaderText {
    margin-top: 1rem;
}

div.container-fluid nav.navbar.navbar-dark.navbar-expand-lg {
    padding-left: 10px;
    padding-right: 10px;
}

div.container-fluid.py-5 {
    text-align: center;
}

div.container-fluid.py-5 p.text-responsive {
    margin: auto;
}

.row {
    padding: 0px;
}

.sectionLight {
    background-color: #eceeef;
    padding: 2em;
}

.noPaddingTop {
    padding-top: 0px;
}

div.sectionLight div.row div.col-sm-12 {
    margin: auto;
}

.defaultImgCfg {
    border-radius: 15px;
}

.carousel-caption {
    top: 3%;
    bottom: auto;
    right: 10%;
    left: auto;
    text-align: center;
    width: 50%;
    color: #eceeef;
}

.sectionDark {
    background-color: #cccccc;
    padding: 2rem;
}

.sectionDark div.row div.col-sm-3.col-md-3 {
    text-align: right;
}

.sectionDarkLeftImg {
    max-width: 80%;
    /* border-style: solid;
    border-color: #46483c4b;
    border-width: 2px; */
}

.sectionDark div.row div.col-sm-9.col-md-6 div.row div.col-sm-3.col-md-3 {
    text-align: center;
}

.learnMoreWrapper {
    margin-top: 20px;
}

button.defaultBtnCfg {
    background-color: #46483c;
    color: #eceeef;
}

.vertical-center {
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.sectionDarkPText {
    text-align: left;
    line-height: 2rem;
}

.center {
    display: block;
    margin: auto;
}

.btnMargin {
    margin-top: 15px;
    margin-bottom: 20px;
}

.whosThisBtn {
    width: 315px;
}

.btn-primary {
    --bs-btn-color: #eceeef;
    --bs-btn-bg: #636556;
    --bs-btn-border-color: #636556;
    --bs-btn-hover-color: #eceeef;
    --bs-btn-hover-bg: #636556;
    --bs-btn-hover-border-color: #636556;
    --bs-btn-active-color: #eceeef;
    --bs-btn-active-bg: #636556;
    --bs-btn-active-border-color: #767967;
    --bs-btn-disabled-color: #eceeef;
    --bs-btn-disabled-bg: #636556;
    --bs-btn-disabled-border-color: #636556;
}

.btn:focus,.btn:active {
    outline: 0 !important;
    box-shadow: none !important;
 }
 
div.fionaImgCols {
    padding: 0px;
    vertical-align: middle;
}

div.fionaImgCols img {
    margin: 1rem;
    max-width: 315px;
}

@media (max-width: 992px) {
    .carousel-caption {
        top: 20%;
    }
}

@media (max-width: 724px) {
    div.sectionDark div.row div.col-sm-9.col-md-6 {
        flex: 0 0 auto;
        width: 100%;
    }

    div.sectionDark div.row div.col-sm-9.col-md-6 div.row div.col-md-9 {
        width: 100%;
    }

    .sectionDarkLeftImg {
        width: 0%;
        display: none;
    }

    .sectionDarkInlineImg {
        width: 0%;
        display: none;
    }
}

@media (max-width: 710px) {
    .carousel-caption {
        top: 1%;
        padding-top: .75rem;
    }
}

@media (max-width: 595px) {
    div.sectionLight div.row div.col-sm-12 div.container-fluid.py-5 h1 {
        font-size: calc(1.23rem + 2.1vw)
    }
}

@media (min-width: 0px) {
    .text-responsive {
        font-size: 1.12rem;
        width: 100%;
        margin: auto;
    }

    div.sectionLight div.row div.col-sm-12 div.container-fluid.py-5 h1 {
        font-size: calc(1.15rem + 2.1vw)
    }

    .sectionDarkLeftImg {
        max-width: 20rem;
        max-height: 20rem;
    }

    .sectionDarkInlineImg {
        max-width: 20rem;
        max-height: 20rem;
    }

    .modal {
        --bs-modal-margin: 1.75rem;
        --bs-modal-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    }

    .modal-dialog {
        max-width: var(--bs-modal-width);
        margin-right: auto;
        margin-left: auto;
    }
    
    .modal-sm {
        --bs-modal-width: 300px;
    }
    .mysteryGirlModalWidth {
        --bs-modal-width: 439px;
    }
}

@media (min-width: 522px) {
    div.sectionLight div.row div.col-sm-12 div.container-fluid.py-5 h1 {
        font-size: calc(1.23rem + 2.1vw)
    }
}

@media (min-width: 544px) {
    .text-responsive {
        font-size: 1.25rem;
        width: 100%;
        margin: auto;
    }
}

@media (min-width: 595px) {
    div.sectionLight div.row div.col-sm-12 div.container-fluid.py-5 h1 {
        font-size: calc(1.45rem + 2.1vw)
    }
}

@media (min-width: 992px) {
    .sectionDarkLeftImg {
        max-width: 25rem;
        max-height: 25rem;
    }

    .sectionDarkInlineImg {
        max-width: 25rem;
        max-height: 25rem;
    }

    .mysteryGirlModalWidth {
        --bs-modal-width: 800px;
    }

    div.fionaImgCols img.fionaRightImg {
        position: relative;
        top: 9%;
    }
}

@media (min-width: 1112px) {
    .carousel-caption {
        top: 10%;
    }
}

@media (min-width: 1300px) {
    .carousel-caption {
        top: 20%;
    }
}