button span.navbar-toggler-icon {
    color: #fff;
}

.container-fluid {
    padding: 0;
}

div.container-fluid nav.navbar.navbar-dark.navbar-expand-lg {
    padding-left: 10px;
    padding-right: 10px;
}

div.container-fluid.py-5 {
    text-align: center;
}

div.container-fluid.py-5 p.text-responsive {
    margin: auto;
}

.row {
    padding: 0px;
}

.sectionLight {
    background-color: #eceeef;
    padding: 2em;
    padding-top: 0px;
}

div.sectionLight div.row div.col-sm-12 {
    margin: auto;
}

div.carousel-inner {
    border-radius: 15px;
}

.carousel-caption {
    top: 3%;
    bottom: auto;
    right: 10%;
    left: auto;
    text-align: center;
    width: 50%;
    color: #eceeef;
}

.sectionDark {
    background-color: #cccccc;
    padding: 2rem;
}

.sectionDark div.row div.col-sm-3.col-md-3 {
    text-align: right;
}

.sectionDarkLeftImg {
    width: 80%;
    border-radius: 15px;
    /* border-style: solid;
    border-color: #46483c4b;
    border-width: 2px; */
}

.sectionDark div.row div.col-sm-9.col-md-6 div.row div.col-sm-3.col-md-3 {
    text-align: left;
}

.sectionDarkInlineImg {
    border-radius: 15px;
}

.learnMoreWrapper {
    margin-top: 20px;
}

button.learnMoreBtn {
    background-color: #46483c;
    color: #fff;
    display: block;
    margin: auto;
}

@media (max-width: 992px) {
    .carousel-caption {
        top: 20%;
    }
}

@media (max-width: 710px) {
    .carousel-caption {
        top: 1%;
        padding-top: .75rem;
    }
}

@media (max-width: 595px) {
    div.sectionLight div.row div.col-sm-12 div.container-fluid.py-5 h1 {
        font-size: calc(1.23rem + 2.1vw)
    }
}

@media (max-width: 576px) {
    div.sectionDark div.row div.col-sm-9.col-md-6 {
        flex: 0 0 auto;
        width: 100%;
    }

    .sectionDarkLeftImg {
        width: 0%;
        display: none;
    }

    .sectionDarkInlineImg {
        width: 0%;
        display: none;
    }
}

@media (min-width: 0px) {
    .text-responsive {
        font-size: 1.12rem;
        width: 100%;
        margin: auto;
    }

    div.sectionLight div.row div.col-sm-12 div.container-fluid.py-5 h1 {
        font-size: calc(1.15rem + 2.1vw)
    }

    /* div.sectionDark div.row div.col-sm-3.col-md-3 {
        flex: 0 0 auto;
        width: 25%
    } */
}

@media (min-width: 522px) {
    div.sectionLight div.row div.col-sm-12 div.container-fluid.py-5 h1 {
        font-size: calc(1.23rem + 2.1vw)
    }
}

@media (min-width: 544px) {
    .text-responsive {
        font-size: 1.25rem;
        width: 100%;
        margin: auto;
    }
}

@media (min-width: 595px) {
    div.sectionLight div.row div.col-sm-12 div.container-fluid.py-5 h1 {
        font-size: calc(1.45rem + 2.1vw)
    }
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
    .sectionDarkLeftImg {
        width: 40%;
    }
}

@media (min-width: 1112px) {
    .carousel-caption {
        top: 10%;
    }
}

@media (min-width: 1300px) {
    .carousel-caption {
        top: 20%;
    }
}